@page "/openboosterpacks/{duelistid}"

@inherits AuthorizedComponentBase;

@if (IsLoading)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else if (_currentDuelist == null)
{
    <h3>Either this progression series does not exist, or you are not participating in it.</h3>
}
else if (!_currentDuelist.OwnerId.Equals(CurrentUserId))
{
    <h3>You Are Not @_currentDuelist.Owner.UserName</h3>
}
else
{
    <ProgressionSeriesNavBar ProgressionSeries="_currentDuelist.Series" Duelist="_currentDuelist" />

    <Blazorise.CardHeader Class="bg-secondary">
        <h5>Select a booster pack to open:</h5>
    </Blazorise.CardHeader>

    <DataGrid Data="_availableBoosterPacks" TItem="BoosterPack" Sortable="true" SortMode="DataGridSortMode.Single" Narrow="true"
              Resizable="true" ResizeMode="Blazorise.TableResizeMode.Columns"
              RowSelectable="@((item) => false)" Striped="true" Bordered="true" Responsive="true"
              ShowPager="@(_availableBoosterPacks.Count > Constants.DEFAULT_DATAGRID_PAGESIZE)" PageSize="@Constants.DEFAULT_DATAGRID_PAGESIZE"
              ShowPageSizes="true" PageSizes="@(Constants.DataGrid_PageSizes)" PagerPosition="DataGridPagerPosition.TopAndBottom"
              Filterable="@(_availableBoosterPacks.Count > Constants.DEFAULT_DATAGRID_PAGESIZE)" FilterMethod="DataGridFilterMethod.Contains">
        <DataGridColumns>
            <DataGridColumn TItem="BoosterPack" Field="PackInfo.BoosterPackInfoId" Caption="(Click For Info)" HeaderCellClass="bg-primary" Sortable="false" Filterable="false">
                <DisplayTemplate>
                    @{ BoosterPackInfo packInfo = (context as BoosterPack).PackInfo; }
                    <div class="row justify-content-center" @onclick=@(() => OnOpenUrlInNewTabAsync(packInfo.SetInfoUrl))>
                        <div class="col-auto">
                            <div style="background-image:url(@packInfo.ImageUrl); height:130px; width:100px; background-position:center; background-size:cover;" />
                        </div>
                    </div>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="BoosterPack" Field="PackInfo.SetName" Caption="Set Name" HeaderCellClass="bg-primary" />
            <DataGridColumn TItem="BoosterPack" Field="PackInfo.SetCode" Caption="Set Code" HeaderCellClass="bg-primary" />
            <DataGridDateColumn TItem="BoosterPack" Field="PackInfo.ReleaseDate" Caption="Release Date" HeaderCellClass="bg-primary" Direction="Blazorise.SortDirection.Ascending">
                <DisplayTemplate>
                    @{ BoosterPackInfo packInfo = (context as BoosterPack).PackInfo; }
                    <span>@packInfo.ReleaseDate.ToShortDateString()</span>
                </DisplayTemplate>
            </DataGridDateColumn>
            <DataGridNumericColumn TItem="BoosterPack" Field="NumAvailable" Caption="Packs Available" HeaderCellClass="bg-primary" />
            <DataGridNumericColumn TItem="BoosterPack" Field="NumOpened" Caption="Packs Opened" HeaderCellClass="bg-primary" />
            <DataGridColumn TItem="BoosterPack" Field="BoosterPackId" Caption="Open Packs" HeaderCellClass="bg-primary" Sortable="false" Filterable="false">
                <DisplayTemplate>
                    @{
                        BoosterPack boosterPack = context as BoosterPack;
                        string unit = context.PackInfo.IsStructureDeck ? "Boxes" : "Packs";
                    }
                    <NavLink href=@($"/openboosterpacks/{DuelistId}/{boosterPack.InfoId}")>
                        <Blazorise.Button Color="Blazorise.Color.Primary">
                            <i class="fas fa-box-open" />
                            Open @unit
                        </Blazorise.Button>
                    </NavLink>
                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>
    </DataGrid>
}